body {
  background-color: rgb(210, 240, 203);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin-top: 30px;
}

.boton1 {
   padding: 10px;
    border-radius: 10px solid;
    color: rgb(56, 22, 151);
  }
  
  .boton2 {
    padding: 10px;
    border-radius: 10px solid;
    color: rgb(56, 22, 151);
    
  }

  .hidden {
    display: none;
    opacity: 0.7;
    
  }

  hr {    
    height: 3px;    
    background-color: rgb(8, 7, 7);
  }
  
  .titulos{
    text-decoration-line: underline;
  }