body {
  margin: 0;
  font-family: Arial, san-serif;
}

.teachers {
  list-style: none;
  padding: 0;
}

.teacher {
  display: inline-block;
  cursor: pointer;
  padding: 20px;
}

.teacher__img {
  width: 200px;
  height: auto;
}

.teacher--selected {
  background-color: rgb(241, 205, 158);
}

.color-tecla {
  background-color: yellow;
  width: 500px;
  height: 100px;
}

hr {
    
  height: 3px;    
  background-color: rgb(8, 7, 7);
}

.titulos{
  text-decoration-line: underline;
}